.table {
  &__upper-part {
    position: absolute;
    left: 0;
    top: 30px;
    z-index: 1;
  }

  &__lower-part {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
  }

  &__up,
  &__down {
    font-family: inherit;
    position: absolute;
    background-color: $light-blue;
    width: 200px;
    height: 200px;
    color: $black;
    font-family: inherit;
    font-size: 40px;
    font-weight: 300;
    line-height: 68px;
    z-index: 3;
    border: none;
    border-radius: 50%;
    top: 470px;
    box-sizing: border-box;
    cursor:pointer;
  }

  &__up {
    left: 256px;
  }

  &__down {
    left: 540px;
  }

  &__up--disabled,
  &__down--disabled {
    opacity:0.5;
  }

  &__up:hover,
  &__down:hover {
    border:2px solid $blue;
  }

  &__up--disabled:hover,
  &__down--disabled:hover{
    border:none;
  }

}

@media(max-width:1919px){
    .table {
        &__up,
        &__down{
            font-size:12px;
            line-height:20px;
            width:61px;
            height:61px;
            top:150px;
        }

        &__up {
            left:95px;
        }

        &__down {
            left:178px;
        }
    }
}